---
import Placeholder from '../components/Placeholder.astro';
import ReactComponent from '../components/react/ReactComponent.tsx';
import MyCounter from '../components/SvelteComponent.svelte';
import VueComponent from '../components/VueComponent.vue';
import SolidComponent from '../components/solid/SolidComponent.js';
import PreactComponent from '../components/preact/PreactComponent.js';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/icon128.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Browser Extension Builder</title>
  </head>
  <body>
    <Placeholder />
	<ReactComponent message="This is a message from a React component!" client:load />
	<MyCounter client:load />
	<VueComponent client:load />
	<SolidComponent client:load /> 
	<PreactComponent name="World" client:load />
  </body>
</html>
